---
layout: layouts/page.njk
pagination:
  data: pages
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "{{ page.slug | slug }}/"
eleventyNavigation:
  key: Home
  order: 1
---
{{ content }}
