---
layout: layouts/post.njk
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "{{ post.slug | slug }}/"
eleventyNavigation:
  key: Home
  order: 1
---
{{ content }}
