---

---

<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ siteTitle }}</title>
  <!-- Todo: add styles -->
  <style>
  img { max-width: 100%; height: auto; }
  .article { margin: 0 auto; max-width: 960px; padding: 0 16px;}
  </style>
 </head>
 <body>
  <header>
    <!-- https://www.contentful.com/blog/2020/07/28/integrating-contentful-with-eleventy-create-static-sites/ -->
    <a href="#">Site logo</a>
    <nav>
      <ul>
        {% for page in pages %}
          {% if page.slug === '/' %}
            <li><a href="/">Home</a></li>
          {% else %}
            <li><a href="/{{ page.slug | url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <h1>{{ siteTitle }}</h1>
    <h2>Blog posts</h2>
    <ul>
      {% for post in posts %}
        <li><a href="/blog/{{ post.slug | url }}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    {{ content | safe }}
  </main>
 </body>
</html>