---
layout: layouts/base.njk
---
<h1>HOME</h1>
<h2>Blog posts</h2>
<ul>
  {% for post in posts %}
    <li><a href="/{{ post.slug | url }}">{{post.title}}</a></li>
  {% endfor %}
</ul>
{{ content | safe }}