---
layout: layouts/base.njk
---

<article class="article">
  <header>
    <h1 class="page-heading">{{ page.title }}</h1>
    Slug: <code>{{ page.slug}}</code>
  </header>
  <div class="article__body">

  </div>
</article>