---
layout: layouts/base.njk
---

<article class="article">
  <header>
    <h1 class="page-heading">{{ post.title }}</h1>
    Slug: <code>{{ post.slug}}</code>
  </header>
  <div class="article__body">

  </div>
</article>